@charset "UTF-8";

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

:root {
	--pomo-button-border-width: 0.0625em;
	--pomo-button-border-radius: 0.75em;
	--pomo-button-padding-vertical: 0.5em;
	--pomo-button-padding-horiztonal: 1em;
}

.pomo-button {
	display: block flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-width: var(--pomo-button-border-width);
	border-radius: var(--pomo-button-border-radius);
	padding-top: var(--pomo-button-padding-vertical);
	padding-right: var(--pomo-button-padding-horiztonal);
	padding-bottom: var(--pomo-button-padding-vertical);
	padding-left: var(--pomo-button-padding-horiztonal);
}

.pomo-button:hover {
	text-decoration: none;
}