@use '../abstracts';

.timer {
    display: block flex;
    flex-direction: column;
    align-items: center;
}

.timer .time {
    font-size: 7.5em;
    font-weight: abstracts.$font-weight-medium;
    line-height: 1;
    text-align: center;
    font-variation-settings: 
        "opsz" 14;
}