@charset "UTF-8";

@use '../abstracts';
// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

$current-font: abstracts.font("InterVariable.woff2", "assets/");

@font-face {
	font-family: "Inter Variable";
	src: $current-font format("woff2");
}