@charset "UTF-8";

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
    display: block flex;
    flex-direction: column;
    min-height: 100vh;
}

.home main {
    display: block flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#home-header {
    padding-top: 2em;
    padding-right: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
}

#home-footer {
    padding: 1rem;
}

#home-footer ul {
    display: block flex;
    flex-direction: column;
    gap: 1rem
}

@media (min-width: 50rem) {
    #home-footer ul {
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
    }
}
