@charset "UTF-8";

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@use "sass:map";
@use '../abstracts';

:root {
    --home-header-padding-vertical: 2em;
    --home-header-padding-horizontal: 1em;
    --home-session-type-font-size: 1.5em;
    --home-footer-padding: 1em;
    --home-footer-list-item-spacing: 1rem;
}

.home {
    display: block flex;
    flex-direction: column;
    min-height: 100vh;
}

.home main {
    display: block flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.home .session-type {
    font-size: var(--home-session-type-font-size);
    font-weight: var(--font-weight-bold);
}

#home-header {
    padding-top: var(--home-header-padding-vertical);
    padding-right: var(--home-header-padding-horizontal);
    padding-bottom: var(--home-header-padding-vertical);
    padding-left: var(--home-header-padding-horizontal);
}

#home-footer {
    padding: var(--home-footer-padding);
}

#home-footer ul {
    display: block flex;
    flex-direction: column;
    gap: var(--home-footer-list-item-spacing);
}

@media (min-width: map.get(abstracts.$breakpoints, 'medium')) {
    #home-footer ul {
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
    }
}
