// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
    display: block flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

#home-footer ul {
    display: block flex;
    flex-direction: row;
    justify-content: space-between;
}